.collection {
    margin-bottom: 54px;

}
.tab-container {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
/* .tab-items a {
    padding: 14px 20px;
} */
.collection-text {
    text-align: end;
}

.tab-items button {
    background-color: white;
    padding: 14px 20px;
    cursor: pointer;

}



