.navbar {
    padding: 0 var(--container-padding);
    font-family: var(--font-mon);
    position: relative;
    z-index: 3;
    box-shadow: var(--shadow-black) ;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}
.navbar-menu-btn {
  display: none;
}

.nav-logo {
  position: relative;
  z-index: 4; 
}
.nav-logo > img {
width: 56px;
height: 56px;

}
.nav-menu {
  display: flex;
  gap: 50px;
}

.nav-menu a {
color: var(--primary-color);
font-weight: 700;
}
.nav-icons {
   display: flex;
   align-items: center;
   gap: 20px;  
}
.nav-search i{
    padding-left: 9px;
}
.nav-search  {
    padding: 5px ;
    background-color: #f5f5f5;
    border: var(--border);
    border-radius: var(--rounded-full);
}
.nav-search input {
    padding-left: 5px;
    border: none;
    background: none;
    outline: none;
  }
  .nav-search:hover {
    background-color: #e5e5e5; 
  }
.nav-menu {
    display: flex;
    gap: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.sub-menu {
  background-color: white;
  padding: 36px 396px;
  display: none;
  opacity: 0;
  visibility: hidden;
  align-items: flex-start;
  justify-content: space-around;
  position: absolute;
  width: 100vw;
  z-index: 1; 
  animation: mymove .3s ; 
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
 
}

@keyframes  mymove {
  from {top: 0px;}
  to {top: 50px;}
}
.nav-menu > li:hover .sub-menu {
  display: flex;
  opacity: 1;
  visibility: visible;
}
.nav-items a {
  color: #333;
  opacity: 1;
  transition: opacity 0.3s, font-weight 0.3s;
  position: relative;
  text-transform: uppercase
}

.nav-items a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #333;
  transition: width 0.3s;
}

.nav-items a:hover {
  opacity: 1;
  font-weight: 700;
}

.nav-items a:hover::after {
  width: 100%;
}

.drop-down p {
    font-size: 14px;
    font-weight: 700;
}
.drop-down a {
    font-size: 14px;
    font-weight: 600;
    color: #97999a;
}
.drop-down a:hover {
    color: #000;
    text-decoration: underline;

}

.dashboard {
  position: absolute;
  top: 100%;
  right: 0;
  height: 100vh;
  width: 400px;
  padding: 26px;
}
.dashboard-heading {
  display: flex;
  justify-content: space-between;
}
.dashboard-icon {
    text-align: right;
}
.dashboard-icon > i {
  color: #53565a;
}

.dashboard {
  display: none;
}

