.navbar {
    padding: 0 3.125rem;
    font-family: var(--font-mon);
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo > img {
width: 56px;
height: 56px;
}
.nav-menu >li {
    display: inline-block;
    padding: 15px 25px;
}
.nav-menu a {
color: #000;
font-weight: 600;
}
.nav-items {
  text-transform: uppercase;
}
.nav-icons {
   display: flex;
   align-items: center;
   gap: 20px;  
}
.nav-search i{
    padding-left: 9px;
}
.nav-search  {
    padding: 5px ;
    background-color: #f5f5f5;
    border: var(--border);
    border-radius: var(--rounded-full);
}
.nav-search input {
    padding-left: 5px;
    border: none;
    background: none;
    outline: none;
  }
  .nav-search:hover {
    background-color: #e5e5e5; 
  }
  /* content */
 
  .sub-menu{
    margin: 36px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-family: var(--font-ro);
    position: absolute;
    left: 0;
    width: 100%;
  }
.drop-down p {
    font-size: 14px;
    font-weight: 500;
}
.drop-down a {
    font-size: 14px;
    font-weight: 500;
    color: #53565a;
}
.drop-down a:hover {
    color: #000;
}
.drop-down {
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease; 
  }
  .nav-menu > li:hover .drop-down {
    display: block;
  }
  .nav-menu > .nav-item:hover .drop-down {
    opacity: 1;
    visibility: visible; 
    transition-delay: 0.2s; 
  }
  
   
